<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
    <#include "*/common/header.html"/>
</head>
<body>
    <div>
        <table id="tt" class="easyui-datagrid"
               striped="true" remoteSort="true"
               showHeader="true" showFooter="false"
               url="/users/pageJson" method="GET" singleSelect="true"
               title="用户数据列表" iconCls="icon-search"
               rownumbers="true" pagination="true"
               style="width:600px;height:400px">
            <thead>
                <tr>
                    <#if headerList??>
                        <#list headerList as h>
                            <th field="${h.filed}" sortable="true">${h.title}</th>
                        </#list>
                    </#if>
                </tr>
            </thead>
        </table>
    </div>
    <!--<div>
        <#if respData.listData??>
            <#list respData.listData as rec>
                "${rec.username}"
                <br>
            </#list>
            current_template_name  ${.currentTemplateName },
            lang ${.lang},
            version ${.version},
            Today is ${.now?date}
        </#if>
    </div>-->
</body>
<#include "*/common/footer.html"/>
</html>